<app-match-chosen> </app-match-chosen>

 <!-- <div *ngFor="let selectMeal of apiResponse.meals ">
     <div *ngFor="let selectMeal of selectedMeals; let i = index">

    
   <p class="d-flex justify-content-center"*ngIf="selectMeal.idMeal == selectMeal; " >
  
    {{selectMeal.idMeal}}
</p>
     </div> 
</div>  -->
<h1>Selected Meals</h1>
     <div *ngFor="let selectMeal of allChosenMealsFromGrocery; let i = index">

    {{selectMeal.idMeal}}
    {{selectMeal.strMeal}}
    <img src={{selectMeal.strMealThumb}} alt="" width="200" height="200">

<hr>


     </div> 

<hr />
<h2 class="d-flex justify-content-center">Final Grocery List</h2>
​ ​
<div *ngFor="let sI of selectedIngredients; index as i" class="flex">
  <input type="checkbox" id="cbox2" value="second_checkbox" />
  <label for="cbox2">{{ sI }}</label>
</div>
​
<hr />
<button>
  <a [routerLink]="['/poc']" [routerLinkActive]="['link-active']"
    >Go Back to Grocery List Edit</a
  >
</button>
<button>
  <a [routerLink]="['/world-cup-matches']" [routerLinkActive]="['link-active']"
    >Go Back to World Cup Matches</a
  >
</button>
