div{
    padding-top: 1rem;
}
.center-match-info{
  padding: 1rem;
  text-align: center;
}
img {
  border-style: solid;
}

label {
  font-size: 1.5em;
}
input[type=checkbox]:checked + label {
  color:black;
  text-decoration: line-through;
}
button{
    margin-right:2rem; 
}