<app-match-chosen>  </app-match-chosen>
     <hr>
    <h2 class="d-flex justify-content-center">Final Grocery List</h2>
​

​
<div *ngFor="let sI of selectedIngredients; index as i" class="flex">
  <input type="checkbox" id="cbox2" value="second_checkbox" />
  <!-- <label for="cbox2">{{ i + 1 }} {{ sI }}</label> -->
  <label for="cbox2">{{ sI }}</label>
</div>
​
<hr />
<button>
  <a [routerLink]="['/poc']" [routerLinkActive]="['link-active']"
    >Go Back to Grocery List Edit</a
  >
</button>
<button>
  <a [routerLink]="['/world-cup-matches']" [routerLinkActive]="['link-active']"
    >Go Back to World Cup Matches</a
  >
</button>
