<h3>Choose a Meal Recipe:</h3>

<div>
  <span *ngFor="let meal of apiResponse.meals">
    <button (click)="addMealIDToArray(meal)">
      <img src="{{ meal.strMealThumb }}" alt="" width="100" height="100" />
      {{ meal.strMeal }}
    </button>
  </span>
</div>

<h4>Your selected meals are below</h4>

<div class="d-flex justify-content-right">
  <ul>
    <li *ngFor="let selected of selectedMeals; let i = index">
      {{ selected.strMeal }}
      <button (click)="deselectOption(selected)">Remove</button>
    </li>
  </ul>
</div>
