<app-match-chosen></app-match-chosen>

<table class="blueTable">
  <thead>
    <tr>
      <th>Item</th>
      <th>Name</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let dish of allDishes; index as i">
    <tr *ngIf="dish.matchId == focusedMatch.id">
      <td>{{ dish.dish1 }}</td>
      <td>{{ dish.description }}</td>
      <td>
        <button (click)="removeOrder(dish.id!); refresh()">
          <i class="fa-solid fa-trash-can" title="Delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-add-test></app-add-test>

<button>
  <a [routerLink]="['/world-cup-matches']" [routerLinkActive]="['link-active']"
    >Go Back to World Cup Matches</a
  >
</button>
<button>
  <a [routerLink]="['/poc']" [routerLinkActive]="['link-active']"
    >Go to Grocery List Edit</a
  >
</button>
